<h1 mat-dialog-title style="margin-bottom: 0;">Новая дисциплина</h1>
<form #courseDialog="ngForm" [formGroup]="form" (ngSubmit)="createCourse()">
<i class="material-icons" id="close-btn" (click)="closeDialog()">close</i>
<div mat-dialog-content style="width: 400px; padding-right: 0;">
  <mat-form-field style="width: 320px; padding-bottom: 0; margin: 0;"> 
    <input
    required
    matInput
    formControlName="name"
    placeholder="Название"
    autocomplete="off">  
  </mat-form-field>
  <p id="recomend-text">(Рекомендуется использовать сокращённое название)</p>

  <mat-form-field style="width: 320px;">
    <textarea
      rows="4"
      matInput
      placeholder="Описание"
      formControlName="description"
    ></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-flat-button
    (click)="createCourse"
    class="log-but"
    [disabled]="!courseDialog.valid"
    type="submit">
      Создать
  </button>
</div>
</form>