<div>
  <i class="material-icons"
  style="float: left;
  margin-right: 3px;
  position: relative;
  top: 3px;">
      lock
    </i>
    <h1 mat-dialog-title style="margin-bottom: 0;">Восстановление пароля</h1>
</div>

<form #RecoveryPassForm="ngForm" [formGroup]="form" (ngSubmit)="recoverPassword()">

  <i class="material-icons" id="close-btn" (click)="closeDialog()">
    close
  </i>

<div mat-dialog-content
  style="width: 330px;
  padding-right: 0;">

<p>Для восстановления пароля введите логин или почту, привязанные к вашему аккаунту</p>

  <mat-form-field style="width: 300px; padding-bottom: 0; margin: 0;"> 
    <input
    required
    matInput
    formControlName="usernameOrEmail"
    placeholder="Логин или почта"
    autocomplete="off">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-flat-button
    class="log-but"
    [disabled]="!RecoveryPassForm.valid"
    type="submit">
      Восстановить
  </button>
</div>
</form>