<mat-toolbar>
    <img id="whiteLogo" src="assets/images/white_logo.png" alt="ипмкн лого">
    <div id="vert-line"></div>
    <span class="header-text" id="ipmkn-text">ИПМКН</span>
    <span class="header-text" id="disc-text">Учебные дисциплины</span>
    
    <span class="flex-grow"></span>

    <div id="add-stud">
      <button mat-button routerLink="/auth/sign-up">
        <div id="user-logo"></div>
        <span id="reg-student-text">Регистрация студента</span>
      </button>
    </div>

  </mat-toolbar>

<div id="content-auth">
  <div id="login-form">
  <mat-card class="mat-login"> 
    <mat-card-title style="text-align:center; margin: 10px 0 35px 0;">
        <i id="in-icon" class="material-icons">input</i>
      Вход в систему
    </mat-card-title>
    <mat-card-content style="margin-bottom: 2px;">
      <form #loginForm="ngForm" [formGroup]="form" (ngSubmit)="login()">
          <i id="person-icon" class="material-icons">person</i>
        <mat-form-field style="width:260px">
          <input required class="log-input" type="text" matInput placeholder="Логин или почта"
          autocomplete="off" formControlName="formUsername" [(ngModel)]="model.username">
        </mat-form-field>
        
        <br>
        <i id="password-icon" class="material-icons">vpn_key</i>
        <mat-form-field style="margin-bottom: 30px; width:260px">
          <input required class="log-input" type="password" matInput placeholder="Пароль"
           formControlName="formPassword" passwordToggle
           [(ngModel)]="model.password">
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="formError">{{formError}}</div>
        <br>
        <button
        [disabled]="!loginForm.valid"
        class="log-but"
        type="submit"
        mat-flat-button>
          Войти
        </button>
      </form>
      <button mat-flat-button id="forget-pass"><u style="cursor: pointer">Забыли пароль?</u></button>
    </mat-card-content>
  </mat-card>
</div>
</div>

  <router-outlet></router-outlet>