<div id="menu-content">
    <div id="menu-blue-div">

        <div style="display: inline-block; height: 40px;">
            <img id="whiteLogo" src="assets/images/white_logo.png" alt="ипмкн лого">
        </div>

        <div  id="vert-line" style="display: inline-block;"></div>

        <div style="display: inline-block; height: 40px; clear: both;">
            <span class="header-text" id="disc-text">Учебные дисциплины</span>
        </div>

        <div style="float: left; position: relative; right: 5px;
        top: 5px; color: rgb(255, 255, 255);">
            <i class="material-icons" style="font-size: 45px;">
                account_circle
            </i>
        </div>

        <div *ngIf="authService.decodedToken.role == 'Преподаватель' || authService.decodedToken.role == 'Студент'"
        id="username">
            <a>{{firstName}} {{lastName}}.{{patronymic}}.</a>
        </div>

        <div *ngIf="authService.decodedToken.role == 'Админ'"
        id="username">
            <a>{{firstName}}</a>
        </div>


        <img id="logout-icon" src="assets/images/logout.png" alt="иконка выхода"
        (click)="logout()">

    </div>

    <div id="menu-white-div">
        <div id="select-course-block">
            <mat-form-field style="width: 215px; color: rgb(163, 163, 163); font-size: 15px;">
                <mat-label>Выбор дисциплины</mat-label>
                    <mat-select (selectionChange)="toggleSelect(); changeCourse($event.value)">
                        <mat-option *ngFor="let course of courseService.myCourses" [value]="course.id">
                            {{course.name}}
                        </mat-option>
                </mat-select>
            </mat-form-field>

            <i *ngIf="authService.decodedToken.role == 'Преподаватель' || authService.decodedToken.role == 'Админ'"
            class="material-icons" id="add-icon"
            (click)="openDialog()">add</i>
        </div>


        <div
            class="menu-item"
            *ngFor="let item of menuItems"
            (click)="selectedItem = item.value"
            [ngClass]="{'selected': item.value === selectedItem }"
        >
            <span (click)="navigate(item.value)">{{item.text}}</span>
        </div>
    </div>

</div>

<div>
    <ng-container *ngIf="show; else notShow">
        <div id="welcome-block">
            <h3 style="text-align: center;">
                Добро пожаловать, 
                <span style="color: #0671b8;">
                    {{authService.decodedToken.unique_name}} 
                {{authService.decodedToken.given_name}}
                </span>
            </h3>
                <br>
            <h4 style="text-align: center;">
                Чтобы начать, выберите дисциплину
            </h4>
        </div>
    </ng-container>

<ng-template #notShow>
    <ng-container >
        <router-outlet></router-outlet>
    </ng-container>
</ng-template>
</div>


  