#close-btn{
    position: relative;
    float: right;
    opacity: 0.4;
    left: 15px;
    bottom: 45px;
}

#close-btn:hover{
    opacity: 1;
    cursor: pointer;
    outline: 0 none !important;
    transition: 0.3s;
}

.log-but {
    background-color: #0671b8; 
    color: white;
    font-size: 16px;
    font-family:  Roboto-Regular, sans-serif;
    margin-bottom: 15px;
}

.log-but:hover {
    background-color: #0867a7; 
  }
